:root {
    --primary-color: #ed008c;
    --primary-variant: #97045a;
    --secondary-color: #00adef;
    --on-primary: rgb(250, 250, 250);
    --on-background: rgb(66, 66, 66);
    --on-background-alt: rgb(66, 66, 66, 0.7);
    --background: rgb(255, 255, 255);
    --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

[data-theme='dark'] {
    --primary-color: #4a154b;
    --primary-variant: #36b6e9;
    --secondary-color: #bf00ef;
    --on-primary: #444;
    --on-background: rgba(255, 255, 255, 0.9);
    --on-background-alt: rgba(255, 255, 255, 0.7);
    --background: #121212;
}



body {
    color: white
}

#hero {
    height: 100vh;
    /* background: #141E30; */
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    /*  background: linear-gradient(to right, #243B55, #141E30); */
    /*  background: linear-gradient(to right, #4a154b, #243B55); */


    background: #4a154b;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.taskContainer {
   background-color: #f4ede4 !important;

    border: solid .5em #ffc107;
    border-radius: .5em;
    box-sizing: border-box;
    flex: 0 0 30%;
    height: 240px;
    margin-top: 1em;
    overflow: auto;
}

.taskInput {
    background-color: #f4ede4 !important;
    border: solid .5em #ffc107;
    border-radius: .5em;
    box-sizing: border-box;
    flex: 0 0 30%;
    height: auto;
    margin-top: 1em;
    overflow: auto;
}


#taskItems  li i {
    position: absolute;
    right: 10px;
    top: 10px;
}



#taskItems {
    overflow: hidden;
    position: relative;

}

#taskItems .scrollbox {
    height: 100%;
    overflow: auto;
}


.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    background-color: lightgray;
    color: #212121;
    margin: .25em;
    padding: .5em;
}